<h2>New Company</h2>

<div>
  <%= form_for @company do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :category %>
  <%= f.text_field :category %>
</p>
<p>
  <%= f.label :location %>
  <%= f.text_field :location %>
</p>
<p>
  <%= f.label :logo_url %>
  <%= f.text_field :logo_url %>
</p>
<p>
  <%= f.submit %>
</p>
  <% end %>
</div>
