<h2>New Company</h2>

<div class="container">
  <%= form_for @company do |f| %>
  <div class="form_field">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <div class="form_field">
      <%= f.label :category %>
      <%= f.text_field :category %>
    </div>
    <div class="form_field">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
    <div class="form_field">
      <%= f.label :logo_url %>
      <%= f.text_field :logo_url %>
    </div>
    <div class="form_action">
      <%= f.submit %>
      <% end %>
    </div>
  </div>
