<div class "">
  <h2><%= link_to @company.name, edit_company_path(@company)%></h2>
  <div class="logo" ><%= image_tag @company.logo_url, class:"company-logo"%>
  </div>
  <div class ="product_info">
    Products Inventory Summary
         <%= link_to "Products Details", company_products_path(@company) %>
  </div>
    <ul class="list-group">
  <% @company.products.each do |product| %>
    <li class="list-group-item">
      <%= link_to"#{product.name}", edit_company_product_path(@company, product)%> <div> </div>
      <%= link_to "#{product.inventory}", edit_company_product_path(@company, product)%>
    </li>
  <% end %>
</ul>
</div>
