
<p><%=link_to "all companies", @companies %></p>
<div class "">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%=@company.name%>
      </a>
    </div>
  </div>
</nav>
<%= link_to("(edit)", edit_company_path(@company))%>
  <div class="logo" ><%= image_tag @company.logo_url, class:"company-logo"%>
  </div>
  <div class ="product_info">
      <%= link_to "Products", company_products_path(@company) %>
  </div>
  <ul>
  <% @company.products.each do |product| %>
    <li>
      <%= link_to"#{product.name}", edit_company_product_path(@company, product)%>
    </li>
  <% end %>
</ul>
</div>
