<h2>New Product for <%= @company.name %></h2>

<div class="container">
  <%= form_for [@company, @product] do |f| %>

  <div class="form_field">
    <%= f.label :vendor_name %>
    <%= f.text_field :vendor %>
  </div>
  <div class="form_field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form_field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="form_field">
    <%= f.label :inventory %>
    <%= f.text_field :inventory %>
  </div>
  <div class="form_field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="form_action">
    <%= f.submit %>
    <% end %>
  </div>

</div>
